$menu-item-size: 100px;
$menu-item-size-social: 50px;
$menu-item-distance: 160px;
$menu-item-distance-social: 130px;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.menu-container {
  position: relative;
  height: auto;
  padding: 120px 0;
  border: 2px solid blue;
  .menu {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    .main {
      position: absolute;
      width: 180px;
      height: 180px;
      top: 0;
      left: 0;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .3s linear;
      transition-delay: .3s;
      .logo {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
        filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .3));
        animation: fadein 2s;
      }
      .description {
        background-color: rgba(0,0,0,0.8);
        border-radius: 50%;
        width: 160px;
        height: 160px;
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
        transition: opacity .3s linear;
        shape-outside: circle(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &.active {
          opacity: 1;
        }
      }
    }
    .menu-item {
      position: absolute;
      display: block;
      width: $menu-item-size + 4px;
      height: $menu-item-size + 4px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) rotate(45deg);


      .link {
        display: block;
        position: absolute;
        width: $menu-item-size;
        height: $menu-item-size;
        top: 0;
        left: 0;
        background-color: transparent;
        border-radius: 50%;
        transition-property: left, top, width, height, opacity, background-color;
        transition-duration: .5s;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        opacity: 0;
        background-size: $menu-item-size;



        a {
          transition: all .2s ease-out;
          display: block;
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 0;
          width: $menu-item-size;
          height: $menu-item-size;
          border: 2px solid white;
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 1), inset 0 0 0 3px rgba(0, 0, 0, 1);
        }

        img.on {
          width: $menu-item-size;
          height: $menu-item-size;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .2s linear;
        }
      }

      &.social {
        width: $menu-item-size-social + 2px;
        height: $menu-item-size-social + 2px;
        .link {
          width: $menu-item-size-social;
          height: $menu-item-size-social;
          background-size: $menu-item-size-social;

          a {
            width: $menu-item-size-social;
            height: $menu-item-size-social;
            border: none;
          }

          img.on {
            width: $menu-item-size-social;
            height: $menu-item-size-social;
          }
        }
      }
    }
  }
  &:hover {
    .menu {
      .main {
        background-color: black;
        border-radius: 50%;
        transition-delay: 0s;
      }
      .menu-item {
        .link {
          top: -$menu-item-distance;
          opacity: 1;
          transition-delay: .1s;
          &:hover {
            transition-timing-function: ease-in;
            transition-duration: .2s;

            a {
              border-color: black;
              box-shadow: 0 0 0 3px rgba(0, 0, 0, 1), inset 0 0 5px 5px rgba(0, 0, 0, .3);
            }

            img.on {
              opacity: 1;
            }
          }
        }
        &.social {
          .link {
            top: -$menu-item-distance-social;
          }
        }
      }
    }
  }


  @media (hover: none) {
    padding: 0;
    padding-top: 200px;
    .menu {
      margin: 0;
      width: auto;
      height: auto;
      .menu-item {
        position: relative;
        transform: none !important;
        left: 0;
        top: 0;
        .link {
          transform: none !important;
          top: 0 !important;
        }
      }
      .main {
        position: absolute;
        top: -200px;
        left: 50%;
      }
    }
  }
}
